<!DOCTYPE html>
<html lang="en">
<head>
    {{> head defaultPageTitle='Untitled'}}
</head>
<body class="article{{#with (or page.attributes.role page.role)}} {{{this}}}{{/with}}">
{{> header-scripts}}
<header class="header">
    <nav class="navbar">
        {{> header-brand}}
    </nav>
    <div class="main-secondary-navbar">
        <div>Pedestal is a <em>sturdy and reliable</em> base for <em>services and APIs</em>.</div>
        <a class="get-started-button" href="guides/hello-world.html">Get Started</a>
    </div>
</header>
<div class="body main-body">
    <main class="article main-page">
        {{#if (eq page.layout '404')}}
            {{> article-404}}
        {{else}}
            {{> article}}
        {{/if}}
    </main>
</div>
{{> footer}}
</body>
</html>
