{:deps
 {io.pedestal/pedestal.service {:mvn/version "0.5.7"}
  io.pedestal/pedestal.route   {:mvn/version "0.5.7"}
  io.pedestal/pedestal.jetty   {:mvn/version "0.5.7"}
  com.stuartsierra/component   {:mvn/version "0.4.0"}
  org.slf4j/slf4j-simple       {:mvn/version "1.7.28"}
  com.stuartsierra/component.repl {:mvn/version "0.2.0"}}
 :paths ["src"]}
