.navbar {
    background: linear-gradient(to right, #0f2242, #2452a1);
}

.navbar-brand {
    align-items: center;
}

.logo-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    line-height: 60px;
    font-weight: 400;
}

.navbar-end .navbar-item.has-dropdown:hover .navbar-link, .navbar-end .navbar-link:hover, .navbar-end>a.navbar-item:hover {
    background-color: transparent;
    background-image: linear-gradient(to top, #5bdf56 6%, rgba(33, 235, 26, 0) 7%);
    color: #5cc70c;
}

.article.main-page article.doc {
    max-width: 1070px;
    margin-left: auto;
    margin-right: auto;
}

.article.main-page article.doc img {
    margin-top: -90px;
    width: 300px;
    margin-left: 60px;
}

.main-feature-row {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.main-feature {
    flex: 1;
    padding: 0 10px;
    margin-left: -10px
}

.features-section {
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 25px;
}

.doc .features-section h2 {
    border: none;
}
