.navbar {
    background: linear-gradient(to right, #0f2242, #2452a1);
}

.navbar-brand {
    align-items: center;
}

.logo-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    line-height: 60px;
    font-weight: 400;
}

.navbar-end .navbar-item.has-dropdown:hover .navbar-link, .navbar-end .navbar-link:hover, .navbar-end>a.navbar-item:hover {
    background-color: transparent;
    background-image: linear-gradient(to top, #5bdf56 6%, rgba(33, 235, 26, 0) 7%);
    color: #5cc70c;
}
